[compile] Compilation successful.
[tester::#NA2] Running tests for Stage #NA2 (Replication - WAIT with multiple commands)
[tester::#NA2] $ ./your_program.sh --port 6379
[tester::#NA2] Proceeding to create 3 replicas.
[your_program] Configs:
[your_program]  Map(1) { 'port' => '6379' }
[your_program] Redis master is listening on port: 6379
[tester::#NA2] [handshake] replica-1: $ redis-cli PING
[your_program] Cmds after RESP parsed:
[your_program]  { cmdName: 'PING', args: [] }
[tester::#NA2] [handshake] Received "PONG"
[tester::#NA2] [handshake] replica-1: > REPLCONF listening-port 6380
[your_program] Cmds after RESP parsed:
[your_program]  { cmdName: 'REPLCONF', args: [ 'listening-port', '6380' ] }
[tester::#NA2] [handshake] Received "OK"
[tester::#NA2] [handshake] replica-1: > REPLCONF capa psync2
[your_program] Cmds after RESP parsed:
[your_program]  { cmdName: 'REPLCONF', args: [ 'capa', 'psync2' ] }
[tester::#NA2] [handshake] Received "OK"
[tester::#NA2] [handshake] replica-1: > PSYNC ? -1
[your_program] Cmds after RESP parsed:
[your_program]  { cmdName: 'PSYNC', args: [ '?', '-1' ] }
[tester::#NA2] [handshake] Received "FULLRESYNC 8371b4fb1155b71f4a04d3e1bc3e18c4a990aeeb 0"
[tester::#NA2] [handshake] Received RDB file
[tester::#NA2] [handshake] replica-2: $ redis-cli PING
[your_program] Cmds after RESP parsed:
[your_program]  { cmdName: 'PING', args: [] }
[tester::#NA2] [handshake] Received "PONG"
[tester::#NA2] [handshake] replica-2: > REPLCONF listening-port 6381
[your_program] Cmds after RESP parsed:
[your_program]  { cmdName: 'REPLCONF', args: [ 'listening-port', '6381' ] }
[tester::#NA2] [handshake] Received "OK"
[tester::#NA2] [handshake] replica-2: > REPLCONF capa psync2
[your_program] Cmds after RESP parsed:
[your_program]  { cmdName: 'REPLCONF', args: [ 'capa', 'psync2' ] }
[tester::#NA2] [handshake] Received "OK"
[tester::#NA2] [handshake] replica-2: > PSYNC ? -1
[your_program] Cmds after RESP parsed:
[your_program]  { cmdName: 'PSYNC', args: [ '?', '-1' ] }
[tester::#NA2] [handshake] Received "FULLRESYNC 8371b4fb1155b71f4a04d3e1bc3e18c4a990aeeb 0"
[tester::#NA2] [handshake] Received RDB file
[tester::#NA2] [handshake] replica-3: $ redis-cli PING
[your_program] Cmds after RESP parsed:
[your_program]  { cmdName: 'PING', args: [] }
[tester::#NA2] [handshake] Received "PONG"
[tester::#NA2] [handshake] replica-3: > REPLCONF listening-port 6382
[your_program] Cmds after RESP parsed:
[your_program]  { cmdName: 'REPLCONF', args: [ 'listening-port', '6382' ] }
[tester::#NA2] [handshake] Received "OK"
[tester::#NA2] [handshake] replica-3: > REPLCONF capa psync2
[your_program] Cmds after RESP parsed:
[your_program]  { cmdName: 'REPLCONF', args: [ 'capa', 'psync2' ] }
[tester::#NA2] [handshake] Received "OK"
[tester::#NA2] [handshake] replica-3: > PSYNC ? -1
[your_program] Cmds after RESP parsed:
[your_program]  { cmdName: 'PSYNC', args: [ '?', '-1' ] }
[tester::#NA2] [handshake] Received "FULLRESYNC 8371b4fb1155b71f4a04d3e1bc3e18c4a990aeeb 0"
[tester::#NA2] [handshake] Received RDB file
[tester::#NA2] [test] client: $ redis-cli SET foo 123
[your_program] Cmds after RESP parsed:
[your_program]  { cmdName: 'SET', args: [ 'foo', '123' ] }
[tester::#NA2] [test] Received "OK"
[tester::#NA2] [test] client: > WAIT 1 500
[tester::#NA2] [test] Testing Replica : 1
[tester::#NA2] [test] replica-1: Expecting "SET foo 123" to be propagated
[tester::#NA2] [test] Received ["SET", "foo", "123"]
[tester::#NA2] [test] replica-1: Expecting "REPLCONF GETACK *" from Master
[your_program] Cmds after RESP parsed:
[your_program]  { cmdName: 'WAIT', args: [ '1', '500' ] }
[tester::#NA2] [test] Received ["REPLCONF", "GETACK", "*"]
[tester::#NA2] [test] replica-1: > REPLCONF ACK 31
[tester::#NA2] [test] Testing Replica : 2
[tester::#NA2] [test] replica-2: Expecting "SET foo 123" to be propagated
[tester::#NA2] [test] Received ["SET", "foo", "123"]
[tester::#NA2] [test] replica-2: Expecting "REPLCONF GETACK *" from Master
[your_program] Cmds after RESP parsed:
[your_program]  { cmdName: 'REPLCONF', args: [ 'ACK', '31' ] }
[tester::#NA2] [test] Received ["REPLCONF", "GETACK", "*"]
[tester::#NA2] [test] Testing Replica : 3
[tester::#NA2] [test] replica-3: Expecting "SET foo 123" to be propagated
[tester::#NA2] [test] Received ["SET", "foo", "123"]
[tester::#NA2] [test] replica-3: Expecting "REPLCONF GETACK *" from Master
[tester::#NA2] [test] Received ["REPLCONF", "GETACK", "*"]
[tester::#NA2] Received: "" (no content received)
[tester::#NA2]            ^ error
[tester::#NA2] Error: Expected start of a new RESP2 value (either +, -, :, $ or *)
[tester::#NA2] Test failed (try setting 'debug: true' in your codecrafters.yml to see more details)